<div class="section-container">
  <h2>Reviews</h2>
  <table class="table table-dark table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Create Time</th>
        <th>Process Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{ review.id }}</td>
        <td>{{ review.cneeName }}</td>
        <td>{{ review.status }}</td>
        <td>{{ review.timeCreated | date: "short" }}</td>
        <td>{{ review.timeProcessed | date: "short" }}</td>
      </tr>
    </tbody>
  </table>
</div>
